:root {
  --primary-100:#c0ff5d;
  --primary-200:#a1e03d;
  --primary-300:#4a4a4b;
  --accent-100:#f7f7fd;
  --accent-200:#949499;
  --text-100:#f7f7fd;
  --text-200:#d8d8de;
  --bg-100:#232325;
  --bg-200:#323234;
  --bg-300:#4b4b4d;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
